<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h2>Create a new blog post!</h2>
    <%= form_for @post do |f| %>
      Title:<br>
      <%= f.text_field :title, placeholder:"title", class:"form-control" %><br>
      Body:<br>
      <%= f.text_area :body, placeholder:"text...", class:"form-control" %><br><br>
      <%= f.submit "Post", class:"btn btn-lg btn-primary"%><br>
      <% if @post.errors.any? %>
        <% if @post.errors.messages[:title].length > 0 %>
          <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
            <%= "Title #{@post.errors.messages[:title][0].to_s}" %>
          </div>
        <% end %>
        <% if @post.errors.messages[:body].length > 0 %>
          <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
            <%= "Body #{@post.errors.messages[:body][0].to_s}" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
</div>